.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 400px;
    /* margin-left: 84px; */
}

.buttons {
    text-align: center;
    /* width: 30px; */
}

.form-group {
    margin-top: 1rem;
}

.btn-primary {
    margin-top: 24px;
}

.btn-danger {
    margin-top: 24px;
    margin-left: 24px;
}

.results-container {
    margin-top: 24px;
    margin-left: 100px;
}

.loading-animate {
    margin-top: 24px;
    width: 250px;
}

ul {
    list-style-type: none;
    padding: 0;
}

/* style={{ listStyleType: 'none', padding: 0 }} */