.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.results-container {
    margin-top: 24px;
    margin-left: 100px;
}

.loading-animate {
    height: 50vh;
}

.table {
    padding-right: 100px;
}