.main {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* background-image: ; */
}

.button-submit {
    /* background-color: #500000; */
    color: white;
}

.button-submit:hover {
    background-color: white;
    color: #500000;
}

.button-container {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

.loading-animate {
    height: 50vh;
}

.table {
    margin-top: 2vw;
    padding-right: 5vw;
    padding-left: 5vw;
}